{% extends 'template_user.html' %}
{% block usermain %}
    <a class="panel">
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Create new study group
    </a>
    {#    use for loop here#}
    <div class="panel panel-default">
        <div class="panel-body">
            Basic panel example
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            Basic panel example
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            Basic panel example
        </div>
    </div>
{% endblock %}