{% extends 'template_basic.html' %}
{% block main %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Join {{ group }} now</h1>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="transparent form-control" id="passcode" placeholder="enter pass-code">
                                </div>
                                <br>
                                <button type="button" class="transparent btn btn-outline btn-xl page-scroll" id="enter_group">enter group</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    {% load static %}
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="{% static "img/money-gold-coins-finance.jpg" %}" class="img-responsive"
                                         alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script>

        $('#enter_group').click(function(){
            var passcode = $("#passcode").val();
            $.ajax({
                url: "{% url 'accept_invite' %}",
                type: "POST",
                data: {
                    'passcode': passcode
                },
                success: function(response){
                    window.href.location ='{% url 'dashboard' %}?id='+response
                },
                error: function(request){
                    alert(request.responseText)
                }
            })
        });
    </script>

{% endblock %}