{% extends 'template_user.html' %}
{% block usermain %}
    <div class="container text-center">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Study name">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
