{% extends 'template_study.html' %}
{% block studymain %}
    <div class="container text-center">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>Deposit money</h1>
                    <h3>50000 won</h3>
                    <h3>카카오뱅크 413-321-3323</h3>
                    <br>
                    <button class="btn btn-primary">
                       check
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
