.transparent {
    background-color: transparent;

}
.transparent::-webkit-input-placeholder { /* Chrome */
  color: white;
  opacity: 0.6;
}
.transparent:-ms-input-placeholder { /* IE 10+ */
  color: white;
  opacity: 0.6;
}
.transparent::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 0.6;
}
.transparent:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 0.6;
}

.transparent::-webkit-input-placeholder { text-align:center; }
/* mozilla solution */
.transparent:-moz-placeholder { text-align:center; }